{% extends 'base.html' %}
{% load staticfiles %}
<html>
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<link rel="stylesheet" href= {% static 'font-awesome-4.7.0/css/font-awesome.min.css' %}>
<link rel = "stylesheet" type="text/css" href = {% static 'css/style.css' %}>

</head>
{% block content %}
  {% for message in messages %}
	  <div class="row col-sm-6 col-xs-12 col-md-4" style="position:fixed; right:20px; top:20px">
		<div class="col-sm-12 col-xs-12 col-md-12">
			<div class="alert {{ message.tags }} alert-dismissable">
				<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
				{{message }}
      </div>
		</div>
	  </div>
    {% endfor %}
<div class="container">


  <!---<form action = "/registring_user/" method ="post">
    {% csrf_token %}

    {{ form.non_field_errors }}
    <div class="fieldWrapper">
    {{ form.user_name.errors }}
    <label for="{{ form.user_name.id_for_label }}">User name:</label>
    {{ form.user_name }}
    </div>

    {{ form.non_field_errors }}
    <div class="fieldWrapper">
    {{ form.password.errors }}
    <label for="{{ form.password.id_for_label }}">Password:</label>
    {{ form.password }}
    </div>

    <input type = "submit" value = "Submit" />

  </form>
  -->

<!--
    <ul class="nav nav-tabs center" style="padding:20 0 0 10  ;">
      <li class = "nav-item  center"><a class="nav-link" data-toggle="tab" href="#">Login</a></li>
      <li class="nav-item center"><a class ="nav-link" data-toggle="tab" href="/register">Register</a></li>
    </ul>

      <div class="omb_login">

      	<h3 class="omb_authTitle">Login or <a href="#">Sign up</a></h3>


  		<div class="row omb_row-sm-offset-3 omb_loginOr">
  			<div class="col-xs-12 col-sm-6">
  				<hr class="omb_hrOr">
  				<span class="omb_spanOr">or</span>
  			</div>
  		</div>
      <div id = "login">
  		<div  class="row omb_row-sm-offset-3">
  			<div class="col-xs-12 col-sm-6">
  			    <form class="omb_loginForm" action="/post_details/" autocomplete="off" method="POST">
              {% csrf_token %}
              {{ form.non_field_errors }}

              <div class = "col-xs-4 col-md-4 col-sm-4">
            <div class="input-group">
              {{ form.first_name.error }}

  						<span class="input-group-addon"><i class="fa fa-user"></i></span>
  					   {{ form.first_name }}
             </div>
           </div>
               <div class = "col-xs-4 col-md-4 col-sm-4">

                <div class="input-group">
               {{ form.middle_name.error }}

   						<span class="input-group-addon"><i class="fa fa-user"></i></span>
   					   {{ form.middle_name }}
             </div>
             </div>
                <div class = "col-xs-4 col-md-4 col-sm-4">
                <div class="input-group">
               {{ form.last_name.error }}

               <span class="input-group-addon"><i class="fa fa-user"></i></span>
                {{ form.last_name }}
              </div>
  					</div>
  					<span class="help-block"></span>

  					<div class="input-group">
              {{ form.dob.error }}
  						<span class="input-group-addon"><i class="fa fa-lock"></i></span>
  						{{ form.dob }}
  					</div>
                      <span class="help-block">re enter your password</span>
            <div class="input-group">
              {{ form.address.error }}
            <span class="input-group-addon"><i class="fa fa-lock"></i></span>
              {{ form.address }}
            </div>
            <div class="input-group">
              {{ form.blood_group.error }}
            <span class="input-group-addon"><i class="fa fa-lock"></i></span>
              {{ form.blood_group }}
            </div>

  					<button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
  				</form>
  			</div>
      	</div>
  		<div class="row omb_row-sm-offset-3">
  			<div class="col-xs-12 col-sm-3">
  				<label class="checkbox">
  					<input type="checkbox" value="remember-me">Remember Me
  				</label>
  			</div>
  			<div class="col-xs-12 col-sm-3">
  				<p class="omb_forgotPwd">
  					<a href="#">Forgot password?</a>
  				</p>
  			</div>
  		</div>

    </div>

  	</div>



        </div>

*/
--->


        <div class="form-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-3 col-sm-12 col-md-12">
                <form class="form-horizontal" action="/post_details/" method = "POST">
                    <div class="header">Registration</div>
                    <div class="form-content">
                      {% csrf_token %}
                        <h4 class="heading">Your Details</h4>
                        <div class="form-group row col-sm-12 col-md-12">
                            {{ form.non_field_errors }}
                            <div class="col-sm-12 col-md-4">
                              {{ form.first_name.error }}
                                <label class="control-label" for="exampleInputName2"><i class="fa fa-user"></i></label>
                                {{ form.first_name }}
                            </div>
                            <div class="col-sm-12 col-md-4">
                              {{ form.middle_name.error }}
                                <label class="control-label" for="exampleInputName2"><i class="fa fa-user"></i></label>
                                {{ form.middle_name }}
                            </div>
                            <div class="col-sm-12 col-md-4">
                                {{ form.last_name.error }}
                                <label class="control-label" for="exampleInputName2"><i class="fa fa-user"></i></label>
                                {{ form.last_name }}
                            </div>

                        </div>
                        <div class="form-group row">

                            <div class="col-sm-12 col-md-6">
                              {{ form.phone_number.error }}
                                <label class="control-label" for="exampleInputName2"><i class="fa fa-phone"></i></label>
                                {{ form.phone_number }}
                            </div>
                            <div class="col-sm-12 col-md-6">
                                {{ form.emergency_contact.error }}
                                <label class="control-label" for="exampleInputName2"><i class="fa fa-volume-control-phone"></i></label>
                                {{ form.emergency_contact }}
                            </div>
                        </div>
                        <div class = "form-group">
                          <div class = "col-sm-12 col-md-10">
                            {{ form.address.error }}
                            <label class="control-label" for="exampleInputName2"><i class="fa fa-address-card-o"></i></label>
                            {{ form.address }}
                          </div>

                          </div>

                        <h4 class="heading">Registration Details</h4>
                        <div class="form-group">
                            <div class="col-sm-6">
                                <label class="control-label" for="exampleInputName2"><i class="fa fa-user"></i></label>
                                <input class="form-control" id="exampleInputName2" placeholder="Adults" type="number">
                            </div>

                            <div class="col-sm-6">
                                <label class="control-label" for="exampleInputName2"><i class="fa fa-user"></i></label>
                                <input class="form-control" id="exampleInputName2" placeholder="Children" type="number">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-6">
                                <label class="control-label" for="exampleInputName2"><i class="fa fa-calendar"></i></label>
                                <input class="form-control" id="exampleInputName2" placeholder="Check-in date (dd/mm/yy)" type="text">
                            </div>

                            <div class="col-sm-6">
                                <label class="control-label" for="exampleInputName2"><i class="fa fa-calendar"></i></label>
                                <input class="form-control" id="exampleInputName2" placeholder="Check-out date (dd/mm/yy)" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12">
                                <label class="control-label" for="exampleInputName2"><i class="fa fa-calendar"></i></label>
                                <textarea class="form-control" placeholder="Additional Message"></textarea>
                            </div>
                        </div>
                        <div class="clearfix">
                            <button type="submit" class="btn btn-default"> Register</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
